:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  background-color: transparent;
  border-color: rgba(96, 96, 96, 0.15);
  border-width: 0px 3px 0px 0px;
  border-style: solid;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 280px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.row-layout {
  display: flex;
}
.group_1 {
  background-color: #A249A5;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  margin: 0 0 16px;
  padding: 16px 24px;
  min-width: 280px;
  min-height: 80px;
}
.group_2 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_3 {
  background-color: #19AD87;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  margin: 0 0 16px;
  padding: 16px 24px;
  min-width: 280px;
  min-height: 80px;
}
.group_4 {
  background-color: #FE7659;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  margin: 0 0 16px;
  padding: 16px 24px;
  min-width: 280px;
  min-height: 80px;
}
.group_5 {
  background-color: #99B34D;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  margin: 0 0 16px;
  padding: 16px 24px;
  min-width: 280px;
  min-height: 80px;
}
.group_6 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  width: 480px;
  min-width: 50px;
  min-height: 50px;
  max-width: 480px;
}
.group_7 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: var(--ig-surface-500);
  margin: 0 8px 0 0;
}
.h6 {
  color: var(--ig-surface-500);
  height: max-content;
  min-width: min-content;
}
.avatar {
  --igx-avatar-background: rgba(0, 0, 0, 0.1);
}
.avatar_1 {
  --ig-size: var(--ig-size-small);
  --igx-avatar-background: transparent;
}
.icon_1 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
  color: rgba(256, 256, 256, 0.7);
}
.icon_2 {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.icon_3 {
  color: var(--ig-surface-500);
}
.avatar_2::part(base) {
  --igx-avatar-color: var(--ig-surface-500);
}
.avatar_3::part(base) {
  --igx-avatar-color: var(--ig-surface-500);
}
.avatar_4::part(base) {
  --igx-avatar-color: var(--ig-surface-500);
}
.avatar_5::part(base) {
  --igx-avatar-color: var(--ig-surface-500);
}
.list {
  margin: 0 16px 16px;
  height: max-content;
  min-width: min-content;
}
.input {
  margin: 0 0 16px;
  height: max-content;
  min-width: min-content;
}
.select {
  margin: 0 16px 0 0;
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.select_1 {
  height: max-content;
  min-width: min-content;
  flex-grow: 1;
  flex-basis: 0;
}
.button {
  --ig-size: var(--ig-size-medium);
  margin: 0 16px 16px 0;
  height: max-content;
}
.button_1 {
  --igx-button-foreground: var(--ig-surface-500);
  --igx-button-background: var(--ig-secondary-500);
  right: 24px;
  bottom: 24px;
  position: absolute;
  width: max-content;
  height: max-content;
}
